# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Emacs run-time files and subdirs
/.cache
/elpa
/auto-save-list
/lisp
/transient
/recentf

# Extra run-time files and subdirs
/.lsp-session*
/projects
/eshell
/projectile-bookmarks.eld
/places

# Custom variables local file
/custom.el
