# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Emacs run-time subdirs
/elpa
/auto-save-list
/lisp
/transient
/.cache


# Extra run-time subdirs
/.lsp-session*
/projects
/eshell
/projectile-bookmarks.eld

# Config and custom entry point
/init.el
