# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Emacs run-time files and subdirs
/.cache
/elpa
/auto-save-list
/lisp
/transient
/recentf

# Extra run-time files and subdirs
/.lsp-session*
/projects
/eshell
/projectile-bookmarks.eld
/places
/eln-cache

# Custom variables local file
/custom.el

# mu4e
# https://f-santos.gitlab.io/2020-04-24-mu4e.html
/*.gpg
